# Configuración de la base de datos
DB_USER=user
DB_PASSWORD=1234
DB_NAME=miapp
DB_HOST=db
DB_PORT=5432

# Configuración del servidor backend
PORT=3000
NODE_ENV=development

# Claves secretas (ejemplo para JWT)
JWT_SECRET=supersecreto123
JWT_EXPIRES_IN=1d

# pgAdmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin123
# Configuración de CORS
CORS_ORIGIN=http://localhost:3000   
